block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
    script(src='/javascripts/bootstrap-progressbar.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.1/bootstrap-slider.min.js')
    script(src='/javascripts/animations.js')
    script(src='/dist/bundle.js')